<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/unduhan.png" alt="Hafida" class="img-tumbnail rounded-circle">
            <h1 class="display-4">Hafida Ningrum</h1>
            <p class="lead">Mahasiswa</p>
        </div>
    </div>
</div>